{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-classes", {
      "loose": true
    }],
    ["@babel/plugin-transform-destructuring"],
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ]
}
