# Logs
logs
*.log
npm-debug.log*

# Compiled files
/dist

# Test coverage
coverage

# vscode
.DS_Store
microsoft.gpg
.env
.env.test

# Dependency directory
node_modules

# Local file Storage
/h5p/content
/h5p/temporary-storage
/h5p/content-user-data
/h5p/custom
